<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
        <add name="Connection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Sara\Downloads\BeYourBankBD.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <appSettings>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="SenderEmailId" value="beyourbank.os@gmail.com"/>
    <add key="SenderPassword" value="beyourbank2018"/>    
  </appSettings>
</configuration>